.main-bg {
  background-image: url('../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--color-white);
}

.white-bg {
  background: var(--color-white);
}

.main-content {
  max-width: 110rem;
  margin: 0 auto;
  padding: var(--padding);
}

.section {
  min-height: 100vh;
}