* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 5rem;
}

h2 {
  font-size: 5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 2rem;
}

.responsive-table {
 width: 100%;
 overflow-x: auto;
}

table { 
  min-width: 50rem;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  text-align: left;
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

table td, table th {
  white-space: nowrap;
  padding: 1rem;
  text-align: left;
  border: 0.1rem solid var(--light-gray-color);
}

thead th, thead tr {
  background: var(--light-gray-color);
}

tfoot tr, tfoot td {
  background: var(--light-gray-color);
  text-align: right;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}