.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 0.1rem solid var(--light-gray-color);
  box-shadow: 0 0.1rem 0.2rem rgba(128, 128, 128, 0.342);

  z-index: 5;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  font-weight: 800;
}

.menu h1 a {
  color: var(--primary-color);
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li a {
  position: relative;
  display: block;
  color: var(--primary-color);
  padding: 1.5rem;
  font-size: 1.6rem;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 15%;
  width: 0;
  height: 0.2rem;
  background: var(--secondary-color);

  transition: all 0.3s ease-in-out;
}

.menu ul li a:hover::after {
  width: 70%;
  right: 0;
}

.menu-spacing {
  height: 5.4rem;
}
